<html ng-app="start"> <!-- instanciando o modulo do angular -->
<head> 
	<title>Nome do Site</title>
	<link rel="icon" href="images/favicon.png"> <!-- icone do site -->
	<link href="styles/style.css" rel="stylesheet" type="text/css"/> <!-- Chamada do arquivo CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- ajustar o content do site a tela -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> <!-- "Instalando" jquery -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> <!-- "Instalando" angular.js -->
	<script src="js/controlador.js"></script>
</head>

<body ng-controller="indexController"> <!-- instanciando o controller do angular -->

<!-- ************************* conteudo do site ************************* -->
	<center>

		<h1>{{hello}}</h1>
		<div class="formulario">
			<div class="bloco">
				<p>Digite para mudar o título do site</p>
				<input type="text" id="titulo" ng-model="titulo">
				<button ng-click="mudar()" type="button">Mudar Título</button>
			</div>

			<div>
				Você está digitando:
				{{titulo}} <!-- conseguimos pegar o que você digita no input pois atravez do ng-model do input você "criou" uma var scope, possibilitando ser enxergada por esta view -->
			</div>

			<ul id="lista">
			</ul>
		</div>
	</center>

<!-- ************************* ./conteudo do site ************************* -->

</body>

</html>